<header>
    <h1>My Favorite podcasts</h1>
    
  </header>
<% @caps.each do |cap| %>
  <div class="booyah-box col-8 offset-2">
    <h2><%= cap.name %></h2>
    <p><%= cap.description %></p><br />
  </div>

<% end %>
